@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #f8f208;
  --primary-color-dark: #ee9821;
  --secondary-color: #04091d;
  --secondary-color-light: #0f1221;
  --secondary-color-dark: #03060f;
  --text-light: #94a3b8;
  --white: #ffffff;
  --max-width: 1200px;
  --gradient: linear-gradient(
    to right,
    var(--primary-color-dark),
    var(--primary-color)
  );
  --primary-font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  color: var(--white);
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style: none;
}

p {
  color: var(--text-light);
}

img {
  width: 100%;
  display: block;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}
.section__subheader {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: var(--white);
  text-align: center;
}
.section__header {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}
.section__description {
  max-width: 600px;
  margin-top: 1rem;
  margin-inline: auto;
  color: var(--text-light);
  text-align: center;
}
.btn {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-family: var(--primary-font);
  color: var(--secondary-color);
  background-image: var(--gradient);
  border: none;
  outline: none;
  border-radius: 5rem;
  cursor: pointer;
}

/* HEADER */
header {
  position: relative;
  background-color: var(--secondary-color-dark);
}
.header__social {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header__social a {
  font-size: 1.5rem;
  color: var(--secondary-color);
  background-image: var(--gradient);
  padding: 4px 10px;
}
.nav__logo a {
  font-size: 1.5rem;
  font-weight: 700;
}
.nav__logo a span {
  color: var(--primary-color-dark);
}
.nav__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  max-width: var(--max-width);
  margin-inline: auto;
  padding: 2rem 1rem;
}
.nav__menu {
  display: none;
}
.nav__links {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav__links a {
  transition: all 0.5s;
}
.nav__links a:hover {
  color: var(--primary-color-dark);
}
.header__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  padding-block: 0;
}
.header__content {
  grid-area: 1/1/2/2;
}
.header__content h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
}
.header__content h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
}
.header__content p {
  margin-bottom: 2rem;
}
.header__image img {
  max-width: 400px;
  margin: auto;
}

/* ABOUT */
.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}
.about__image img {
  max-width: 450px;
  margin: auto;
}
.about__content h2 {
  text-align: left;
  margin-bottom: 1rem;
}
.about__content > p {
  margin-bottom: 2rem;
}
.about__content .about__quote {
  background-color: var(--secondary-color-light);
  border-radius: 5px;
  border-left: 2px solid var(--primary-color-dark);
  padding: 2rem;
  margin-bottom: 2rem;
}
.about__links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.about__links button > a {
  color: var(--secondary-color);
}
.about__links > a {
  font-size: 1.25rem;
  color: var(--secondary-color);
  background-image: var(--gradient);
  padding: 3px 8px;
  border-radius: 50%;
}

/* BANNER */
.banner__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.banner__card {
  background-color: var(--secondary-color-light);
  border-radius: 5px;
  display: flex;
  align-items: start;
  gap: 1rem;
  border-bottom: 2px solid transparent;
  padding: 2rem 1rem;
  transition: all 0.5s;
}
.banner__card:hover {
  border-bottom: 2px solid var(--primary-color-dark);
}
.banner__card span {
  background-color: var(--secondary-color-dark);
  padding: 4px 10px;
  font-size: 1.5rem;
  border-radius: 50%;
  transition: all 0.5s;
}
.banner__card:hover span {
  background-image: var(--gradient);
  color: var(--secondary-color);
}
.banner__card h4 {
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}

/* PROJECT */
.project__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 4rem;
}
.project__btn {
  color: var(--white);
  background-color: transparent;
  background-image: none;
}
.project__btn.mixitup-control-active {
  color: var(--secondary-color);
  background-image: var(--gradient);
}
.project__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.project__card img {
  border-radius: 5px;
  cursor: pointer;
}

/* SERVICE */
.service__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 4rem;
  text-align: center;
}
.service__card {
  position: relative;
  background-color: var(--secondary-color-light);
  border-radius: 5px;
  display: flex;
  align-items: start;
  gap: 1rem;
  border-bottom: 2px solid transparent;
  padding: 3rem 2rem 2rem;
  transition: all 0.5s;
}
.service__card:hover {
  border-bottom: 2px solid var(--primary-color-dark);
}
.service__card span {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-color-light);
  padding: 4px 10px;
  font-size: 2rem;
  transition: all 0.5s;
}
.service__card:hover span {
  background-image: var(--gradient);
  color: var(--secondary-color);
}
.service__card h4 {
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}

/* CLIENT */
.swiper {
  margin-top: 4rem;
  padding-bottom: 4rem;
  width: 100%;
}
.swiper-slide {
  padding-block: 2rem;
  background-color: var(--secondary-color-light);
}
.swiper-pagination-bullet {
  background-color: var(--primary-color);
}
.swiper-pagination-bullet-active {
  background-color: var(--primary-color-dark);
}
.client__card {
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 750px;
  margin-inline: auto;
  padding: 2rem 1rem;
}
.client__card img {
  max-width: 200px;
  margin: auto;
}
.client__card p {
  margin-bottom: 1rem;
}
.client__card h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--primary-color-dark);
}
.client__card h4 span {
  margin-left: 10px;
  font-size: 1rem;
  color: var(--text-light);
}

/* BLOG */
.blog__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 4rem;
}
.blog__card img {
  margin-bottom: 1rem;
  border-radius: 5px;
}
.blog__card p {
  margin-bottom: 5px;
  color: var(--primary-color-dark);
}
.blog__card h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}
.blog__card a {
  color: var(--text-light);
  transition: all 0.5s;
}
.blog__card a:hover {
  color: var(--primary-color-dark);
}

/* CONTACT */
.contact__form {
  max-width: 600px;
  margin-top: 4rem;
  margin-inline: auto;
  display: grid;
  gap: 1rem;
}
.contact__form .input__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.contact__form input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  background-color: transparent;
  color: var(--white);
  border: none;
  outline: none;
  border-bottom: 2px solid var(--primary-color-dark);
  border-radius: 5px;
}
.contact__form .btn {
  max-width: fit-content;
  margin-top: 1rem;
  margin-inline: auto;
}

/* FOOTER */
footer {
  background-color: var(--secondary-color-dark);
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.footer__col:first-child {
  grid-column: span 2 / span 2;
}
.footer__col p {
  margin-block: 1.5rem;
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.footer__social a {
  padding: 4px 10px;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  background-color: var(--secondary-color-light);
  border-radius: 50%;
  transition: all 0.5s;
}
.footer__social a:hover {
  background-image: var(--gradient);
  color: var(--secondary-color-dark);
}
.footer__col h4 {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.footer__col li {
  margin-bottom: 1rem;
}
.footer__col li a {
  color: var(--text-light);
  transition: all 0.5s;
}
.footer__col li a:hover {
  color: var(--primary-color-dark);
}
.footer__bar {
  padding-bottom: 1rem;
  font-size: 0.8rem;
  color: var(--text-light);
  text-align: center;
}

@media screen and (max-width: 768px) {
  /* HEADER */
  header {
    position: relative;
    background-color: var(--secondary-color-dark);
  }
  .header__social {
    display: none;
  }
  .nav__bar {
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  .nav__header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
  }
  .nav__menu {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .nav__links {
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color-light);
    flex-direction: column;
    padding: 2rem;
    transform: translateY(-100%);
    z-index: -1;
    transition: all 0.5s;
  }
  .nav__links.open {
    transform: translateY(0);
  }
  .header__container {
    grid-template-columns: 1fr;
    gap: 4rem;
    text-align: center;
    padding-block: 5rem;
  }
  .header__content {
    grid-area: auto;
  }

  /* ABOUT */
  .about__container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  /* BANNER */
  .banner__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  /* PROJECT */
  .project__header {
    flex-direction: column;
  }
  .project__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  /* SERVICE */
  .service__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 1rem;
  }

  /* CLIENT */
  .client__card {
    flex-direction: column;
    text-align: center;
  }

  /* BLOG */
  .blog__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  /* FOOTER */
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  /* BANNER */
  .banner__container {
    grid-template-columns: 1fr;
  }

  /* PROJECT */
  .project__grid {
    grid-template-columns: 1fr;
  }

  /* SERVICE */
  .service__grid {
    grid-template-columns: 1fr;
  }

  /* BLOG */
  .blog__grid {
    grid-template-columns: 1fr;
  }

  /* CONATC */
  .contact__form .input__row {
    grid-template-columns: 1fr;
  }

  /* FOOTER */
  .footer__container {
    grid-template-columns: 1fr;
  }
  .footer__col:first-child {
    grid-column: span 1 / span 1;
  }
}
